@model company.Models.Users
<link href="~/css/fogetpass.css" rel="stylesheet" type="text/css" media="all" />

@{
    ViewBag.Title = "changepassword";
}
@if (ViewBag.status != null && Convert.ToBoolean(ViewBag.status))
{

    <div class="alert alert-success">


        <strong> success!</strong>  please @Html.ActionLink("Login","login","Home")
    </div>

}

@using (Html.BeginForm("changepassword", "Home", FormMethod.Post))
{ 
               @Html.AntiForgeryToken()
     @Html.ValidationSummary()
               
    <div id="forgotpass" class="forgotpass">
       
        <div class="inpu">
            <div>
                <input id="inputtxt" class="inputtxt" type="password" name="Password" placeholder="enter new Password" required="" />
                @Html.ValidationMessageFor(model => model.Password)
            </div>
            <br/>
           

            <input id="inputsubmit" class="inputsubmit" type="submit" value="save"/>
        </div>
    </div> <input name="mail" type="hidden" value="@Request.QueryString["mail"]" />
}