@model company.Models.Color

@{
    ViewBag.Title = "Createcolor";
}

<h2>Createcolor</h2>

@using (Html.BeginForm("Createcolor", "Default1", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Color</h4>
        <hr />
        @Html.ValidationSummary(true)

       

        

        <div class="form-group">
            @Html.LabelFor(model => model.Img, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
@if (Model.Img != null) {
                <img alt="@Model.Img"
                     src="data:image/jpg;base64,@Convert.ToBase64String(Model.Img)" style="width: 200px; height:200px" />
}     <input type="file"  id="Img" name="Img"/>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.color1, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.color1)
                @Html.ValidationMessageFor(model => model.color1)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "viewcolor", new { id = this.ViewContext.RouteData.Values["id"] })
</div>
@if (ViewBag.Status != null)
{
    <div class="alert alert-success">

        <strong> success!</strong>
    </div>


}
